.logo {
  background-image: url(https://rawgit.com/naman14/timber-cast-receiver/gh-pages/logo.png);
}

.watermark {
  background-image: url(https://rawgit.com/naman14/timber-cast-receiver/gh-pages/logo.png);
  background-size: 57px 57px;
}

.splash {
  background-image: url(https://rawgit.com/naman14/timber-cast-receiver/gh-pages/logo.png);
}
