.logo {
  background-image: url(logo.png);
   background-size: 150px 150px;
}

.background {
    background: #ffffff;
}

.watermark {
  background-image: url(logo.png);
  background-size: 57px 57px;
}

.splash {
  background-image: url(logo.png);
    background-size: 100px 100px;
}
